.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#yabane-chart {
    border: solid 1px 1px 1px 1px #eeeeee;
}